{% extends 'main/base.html' %}

{% block title %} Contact Page {% endblock %}

{% block content %}

<div class="main_detail">
    <div class="col-6">
        <form class="d-flex flex-column gap-2" action="{% url 'main:contact_view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex justify-content-between mb-3" style="width: 100%;">
                <input type="text" name="first_name" placeholder="First Name" class="form-control" required/>
                <input type="text" name="last_name" placeholder="Last Name" class="form-control" required/>
            </div>
            <input type="email" name="email" required placeholder="Email Address" />
            <textarea placeholder="Your Message" name="message" class="form-control" required> </textarea>

            <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>
        </div>

        <img class="col-5" src="/static/images/default.jpg" />
</div>

{% endblock %}