{% extends 'main/base.html' %}

{% block title %} All Plants {% endblock %}

{% block content %}

<div class="main_home">
    {% if plants %}
        <h1 class="mb-3 mt-5 phudu">found [{{plants.count}}] Search Results</h1>
        <h3> <span class="phudu">Results for:</span>  {{request.GET.search}} </h3>
        <div class="d-flex justify-content-end">
            <form action="{% url 'plants:search_view' %}" method="GET">
                <div class="d-flex gap-3">
                    <input type="search" class="form-control" value="{{request.GET.search}}" name="search" required />
                    <select name="order_by" class="form-select">
                        <option value="">Order By</option>
                        <option value="created_at" {% if request.GET.order_by == 'created_at'%} selected {% endif %}>Release Rate</option>
                    </select>
            
                    <input type="submit" value="apply" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    {% else %}
        <h1><span class="phudu">No search results for</span> "{{request.GET.search}}"</h1>
    {% endif %}

    <div class="mt-5 col-12">
        <div class="d-flex flex-row flex-wrap justify-content-start align-items-baseline gap-3">
            {% for plant in plants %}
                <div style="width: 32%;" class="mb-5">
                    <div class="d-flex flex-column justify-content-start gap-2">
                        <img style="height: 350px" src="{{plant.image.url}}" class="rounded"/>
                        <a class="mt-2 text-decoration-none text-black" href="{% url 'plants:detail_view' plant.id %}">
                            <h4>{{plant.name}}</h4>
                        </a>
                        {% if plant.is_edible %}
                            <h5 class="text-success">Edible</h5>
                        {% else %}
                            <h5 class="text-warning">Not Edible</h5>
                        {% endif %}
                        <h6 class="text-secondary">Category: {{plant.category}}</h6>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}